.list-card {
  border: 2px solid #40537ddb;
  border-radius: 12px;
  width: max-content;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
}

section {
  width: 100%;
}

ul {
  list-style: none;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;

  & h1 {
    text-align: center;
  }
}

#item-input {
  border: none;
  background: none;
  width: 100%;
  padding: 12px;
  font-size: 18px;

  &:focus{
    outline: none;
  }
}

.item-text {
  margin-left: 12px;
  flex-grow: 1;
}

.item-check {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: 1px solid #40537ddb;
  border-radius: 4px;
}

.delete-btn {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50%;
  background: none;
  font-size: 18px;
  color: rgb(248, 76, 150);
  transition: all 0.3s ease ;

  &:hover {
    color: rgb(248, 76, 200);
    border: 1px solid rgb(248, 76, 200);
    border-radius: 50%;
    background-color: rgba(248, 76, 199, 0.1);
  }

  &:active {
    transform: scale(0.9);
    border-color: rgb(248, 76, 110);
    color: rgb(248, 76, 110);
    background-color: rgba(248, 76, 110, 0.1)
  }
}